
<div class="download">
  Happy with the results? <br />
  <button md-raised-button class="mat-accent" (click)="generateZip()">Download the zip file!</button>
</div>

<div>

  <div class="node">
    <h4>Folder Structure</h4>
    <ul>
      <tree-view class="node" [tree]="tree" [onNodeSelected]="onNodeSelectedEvent"></tree-view>
    </ul>
  </div>

  <div class="preview">
    Select a CMake file on the left to view its preview here
    <h4>{{previewTitle}}</h4>

    <code-mirror [configuration]="cmakeConfiguration" [(code)]="preview" [setCode]="onPreviewChange" [changeMode]="onChangeMode"></code-mirror>

  </div>

</div>