label {
  display: inline-block;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

textarea {
  display: block;
}
button {
  margin-top: 1em;
  margin-bottom: 1em;
}