
<md-card class="project-card" *ngFor="let project of projects"
    (click)="onSelect(project)">

    <md-card-title>
      {{projectName(project)}}
      <span *ngIf="selectable == 'true' && selectedProjects.has(project.id)"> <b>Selected</b></span>
    </md-card-title>

    <md-card-subtitle>
      {{project.kind}}
    </md-card-subtitle>

    <md-card-actions>
      <a md-button *ngIf="editable == 'true'" (click)="gotoProjectDetails(project)">EDIT</a>
      <button md-button *ngIf="deletable == 'true'" (click)="onDelete(project); $event.stopPropagation()">REMOVE</button>
    </md-card-actions>
</md-card>

